
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: var(--background-gradient-start);
    background-image: var(--background-gradient-end);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    color: hsl(var(--foreground));
    background-color: hsl(var(--background));
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
